In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/number-of-species-in-each-iucn-red-list-category/Species.csv

#  **Import**

In [2]:
import pandas as pd
df = pd.read_csv('/kaggle/input/number-of-species-in-each-iucn-red-list-category/Species.csv')

# **Examining the first and last five rows in the dataset**

In [3]:
# Examining the FIRST five rows

df.head()

,Name,EX,EW,Subtotal (EX+EW),CR(PE),CR(PEW),Subtotal (EX+EW+ CR(PE)+CR(PEW)),CR,EN,VU,Subtotal (threatened spp.),LR/cd,NT or LR/nt,LC or LR/lc,DD,Total
0,ACTINOPTERYGII,79,10,89,122,6,217,626,"1,000","1,241","2,867",0,630,"13,064","4,356","21,006"
1,AMPHIBIA,35,2,37,146,1,184,663,"1,060",721,"2,444",0,421,"3,129","1,184","7,215"
2,ANTHOZOA,0,0,0,1,0,1,6,26,202,234,0,175,293,166,868
3,ARACHNIDA,9,0,9,21,0,30,68,88,62,218,0,20,91,55,393
4,ASTEROIDEA,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1

In [4]:
#Examining the LAST five rows

df.tail()

,Name,EX,EW,Subtotal (EX+EW),CR(PE),CR(PEW),Subtotal (EX+EW+ CR(PE)+CR(PEW)),CR,EN,VU,Subtotal (threatened spp.),LR/cd,NT or LR/nt,LC or LR/lc,DD,Total
63,POLYTRICHOPSIDA,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
64,SPHAGNOPSIDA,0,0,0,0,0,0,1,2,2,5,0,0,1,0,6
65,TAKAKIOPSIDA,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1
66,ULVOPHYCEAE,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
67,Total,902,80,982,"1,160",55,"2,197","8,404","14,647","15,492","38,543",170,"8,127","71,148","19,404","1,38,374"