<a href="https://colab.research.google.com/github/rg326/data_science/blob/main/COOP_notebooks/restaurant_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [83]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [84]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('./drive/MyDrive/DOHMH_New_York_City_Restaurant_Inspection_Results.csv')

## **Inspecting Data**

In [85]:
df.head(10)

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,40557912,KISMAT INDIAN CUISINE,Manhattan,603,FORT WASHINGTON AVENUE,10040.0,2127958633,Indian,03/05/2018,Violations were cited in the following area(s).,...,04/03/2022,Cycle Inspection / Initial Inspection,40.855235,-73.936851,112.0,10.0,27300.0,1084212.0,1.021798e+09,MN35
1,50016943,EL NUEVO ROBLE BILLIARDS,Bronx,216,EAST 170 STREET,10456.0,3478206981,Spanish,06/08/2019,Violations were cited in the following area(s).,...,04/03/2022,Cycle Inspection / Re-inspection,40.838388,-73.912939,204.0,16.0,17902.0,2007983.0,2.028310e+09,BX14
2,50060883,CACHAPAS Y MAS EXPRESS,Manhattan,105A,DYCKMAN STREET,10040.0,6468526499,Spanish,08/28/2018,Violations were cited in the following area(s).,...,04/03/2022,Cycle Inspection / Initial Inspection,40.861872,-73.924911,112.0,10.0,29100.0,1064719.0,1.022170e+09,MN01
3,40393093,RINCON SALVADORENO RESTAURANT,Queens,9215,149 STREET,11435.0,7185263220,Latin American,04/29/2019,Violations were cited in the following area(s).,...,04/03/2022,Cycle Inspection / Initial Inspection,40.701696,-73.805441,412.0,27.0,21200.0,4213988.0,4.099970e+09,QN61
4,50018441,VIVA MIS EMPANADAS,Queens,13311,CROSSBAY BLVD,11417.0,7183227460,Mexican,09/12/2019,Violations were cited in the following area(s).,...,04/03/2022,Cycle Inspection / Initial Inspection,40.675232,-73.843282,410.0,32.0,8600.0,4248035.0,4.114910e+09,QN56
5,50013774,PINGS,Manhattan,22,MOTT STREET,10013.0,2126029988,Seafood,08/06/2019,Violations were cited in the following area(s).,...,04/03/2022,Cycle Inspection / Initial Inspection,40.714309,-73.998756,103.0,1.0,2900.0,1001689.0,1.001620e+09,MN27
6,50078976,YARDS BAR & GRILL,Queens,2632,SKILLMAN AVE,11101.0,9179751495,American,02/15/2022,Violations were cited in the following area(s).,...,04/03/2022,Cycle Inspection / Initial Inspection,40.744053,-73.941197,402.0,26.0,100.0,4000738.0,4.000960e+09,QN31
7,50106489,BITES OF XI'AN,Manhattan,84,EAST 10 STREET,10003.0,9174095535,Chinese,01/26/2022,Violations were cited in the following area(s).,...,04/03/2022,Pre-permit (Operational) / Re-inspection,40.731024,-73.989807,103.0,2.0,4200.0,1077211.0,1.005550e+09,MN22
8,50080928,PICCOLO'S,Brooklyn,8774B,BAY PARKWAY,11214.0,3475875777,Pizza,04/09/2019,Violations were cited in the following area(s).,...,04/03/2022,Cycle Inspection / Initial Inspection,40.598295,-73.997609,311.0,47.0,29200.0,3168981.0,3.064470e+09,BK27
9,40388672,NECTAR OF 82ND STREET,Manhattan,1090,MADISON AVENUE,10028.0,2127720916,American,07/22/2021,Violations were cited in the following area(s).,...,04/03/2022,Cycle Inspection / Initial Inspection,40.778129,-73.960813,108.0,4.0,14200.0,1046733.0,1.014938e+09,MN40

In [86]:
df.tail(10)

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
319808,50110486,BAKEWELL EXPRESS,Queens,10408,LEFFERTS BLVD,11419.0,7183221100,Caribbean,08/03/2021,Violations were cited in the following area(s).,...,04/03/2022,Pre-permit (Operational) / Initial Inspection,40.685941,-73.824046,410.0,28.0,10600.0,4439993.0,4.095720e+09,QN55
319809,41172672,WENG'S PALACE,Manhattan,304,WEST 40 STREET,10018.0,2128686868,Chinese,03/02/2022,Violations were cited in the following area(s).,...,04/03/2022,Cycle Inspection / Re-inspection,40.756150,-73.991240,104.0,3.0,11500.0,1082926.0,1.007630e+09,MN15
319810,50014239,HUNGRY BIRD,Bronx,980,MORRIS AVENUE,10456.0,9178014900,Indian,01/24/2022,Violations were cited in the following area(s).,...,04/03/2022,Cycle Inspection / Initial Inspection,40.828428,-73.916869,204.0,16.0,17300.0,2002178.0,2.024320e+09,BX14
319811,50044928,KELLY D JAMAICAN AND AMERICAN RESTAURANT,Queens,22411,MERRICK BLVD,11413.0,7189490390,Caribbean,10/30/2018,Violations were cited in the following area(s).,...,04/03/2022,Cycle Inspection / Initial Inspection,40.677820,-73.745422,413.0,31.0,63000.0,4279330.0,4.129630e+09,QN66
319812,50042162,MILE 17,Manhattan,1446,1 AVENUE,10021.0,2127721734,American,02/14/2018,Violations were cited in the following area(s).,...,04/03/2022,Cycle Inspection / Initial Inspection,40.769892,-73.954457,108.0,5.0,13200.0,1045918.0,1.014700e+09,MN31
319813,50076259,BANHMIGOS,Brooklyn,178,LINCOLN PLACE,11217.0,7183993812,Southeast Asian,06/10/2019,Violations were cited in the following area(s).,...,04/03/2022,Cycle Inspection / Re-inspection,40.675506,-73.974054,306.0,39.0,15900.0,3341657.0,3.010610e+09,BK37
319814,50063902,THEATER RESTAURANT BOULEVARD,Queens,8222,NORTHERN BLVD,11372.0,7186512797,American,03/04/2020,Violations were cited in the following area(s).,...,04/03/2022,Cycle Inspection / Initial Inspection,40.755571,-73.885081,403.0,25.0,28300.0,4440874.0,4.014300e+09,QN28
319815,41640400,KUMO SUSHI,Manhattan,282,BLEECKER STREET,10014.0,2123660808,Japanese,06/29/2017,Violations were cited in the following area(s).,...,04/03/2022,Cycle Inspection / Re-inspection,40.731812,-74.003352,102.0,3.0,6700.0,1009948.0,1.005870e+09,MN23
319816,50079943,EL PAISA TEPEACA,Manhattan,1548,SAINT NICHOLAS AVENUE,10040.0,9175210972,Mexican,10/01/2019,Establishment Closed by DOHMH. Violations were...,...,04/03/2022,Cycle Inspection / Re-inspection,40.853321,-73.930787,112.0,10.0,26900.0,1063808.0,1.021580e+09,MN35
319817,50086657,TJ'S TASTY CORNER 2,Brooklyn,1077,RUTLAND ROAD,11212.0,3472203986,Caribbean,12/12/2019,Violations were cited in the following area(s).,...,04/03/2022,Cycle Inspection / Initial Inspection,40.664101,-73.924183,317.0,41.0,89200.0,3099544.0,3.045990e+09,BK81

In [87]:
# Displays all the columns in the dataframe

df.columns

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL',
       'NTA'],
      dtype='object')

In [88]:
# Displays number of columns and rows

df.shape

# 319818 rows
# 26 columns

(319818, 26)

In [89]:
# Displays general aggregate data for the dataframe

df.describe()

,CAMIS,ZIPCODE,SCORE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL
count,3.198180e+05,314992.000000,304928.000000,319493.000000,319493.000000,314196.000000,314204.000000,314204.000000,3.126930e+05,3.190070e+05
mean,4.685523e+07,10679.624632,20.645201,40.117755,-72.827900,248.702202,19.898585,28986.332956,2.512002e+06,2.401407e+09
std,4.248960e+06,594.437672,15.023349,4.960894,9.005229,130.203280,15.595064,30442.020591,1.346014e+06,1.339965e+09
min,3.007544e+07,7004.000000,0.000000,0.000000,-74.249101,101.000000,1.000000,100.000000,1.000000e+06,1.000000e+00
25%,4.154876e+07,10022.000000,11.000000,40.687462,-73.988470,106.000000,4.000000,8200.000000,1.045959e+06,1.010600e+09
50%,5.003406e+07,10468.000000,16.000000,40.735289,-73.955751,301.000000,19.000000,16900.000000,3.006061e+06,3.001340e+09
75%,5.007058e+07,11229.000000,26.000000,40.763200,-73.896273,401.000000,34.000000,40303.000000,4.002644e+06,4.001890e+09
max,5.012099e+07,20147.000000,157.000000,40.912822,0.000000,595.000000,51.000000,162100.000000,5.799501e+06,5.270001e+09

## **Cleaning the Data**

### **Finding, Deleting Duplicates**

In [90]:
# Finding Duplicates
duplicates = df[df.duplicated()]

In [91]:
# Keeps the first instance and drops any remaining duplicates

df_clean = df.drop_duplicates(keep='first')

In [92]:
df_clean.shape

(300897, 26)

### **Dropping Rows with Null Values**

In [93]:
# Checks for any null values

df_clean.isna()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319813,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
319814,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
319815,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
319816,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
319817,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [94]:
# Drops rows with null values

df_clean = df_clean.dropna(axis='rows')

### **Subsetting Columns**

In [95]:
# New dataframe with select columns

df_clean = df_clean[['CAMIS', 'DBA', 'BORO', 'ZIPCODE', 'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE', 'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'INSPECTION TYPE', 'Latitude', 'Longitude']]

In [96]:
# Remaining columns
df_clean.columns

Index(['CAMIS', 'DBA', 'BORO', 'ZIPCODE', 'CUISINE DESCRIPTION',
       'INSPECTION DATE', 'ACTION', 'VIOLATION CODE', 'VIOLATION DESCRIPTION',
       'CRITICAL FLAG', 'INSPECTION TYPE', 'Latitude', 'Longitude'],
      dtype='object')

In [97]:
df_clean.shape

(140500, 13)

In [98]:
# print(319818-300897)
print(319818-151677)
print(26-13)

# 168141 rows, 13 columns removed

168141
13

### **Filling In/Dropping Missing Values**

In [99]:
df_clean.isna().sum()

CAMIS                    0
DBA                      0
BORO                     0
ZIPCODE                  0
CUISINE DESCRIPTION      0
INSPECTION DATE          0
ACTION                   0
VIOLATION CODE           0
VIOLATION DESCRIPTION    0
CRITICAL FLAG            0
INSPECTION TYPE          0
Latitude                 0
Longitude                0
dtype: int64

In [100]:
df_clean.shape

(140500, 13)

### **Exporting CSV File**

In [107]:
# Export DataFrame to CSV

df_clean.to_csv('./drive/MyDrive/new_restaurant_data.csv')