<a href="https://colab.research.google.com/github/rg326/data_science/blob/main/learning/merging_in_pandas_codebasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Example DataFrames**

In [18]:
import pandas as pd
# df1 = pd.DataFrame({"city":["new york", "chicago", "orlando"],
#                    "temperature":[21,14,35]})
# df1

df1 = pd.DataFrame({"city":["new york", "chicago", "orlando", "baltimore"],
                   "temperature":[21,14,35,32]})
df1

        city  temperature
0   new york           21
1    chicago           14
2    orlando           35
3  baltimore           32

In [19]:
# df2 = pd.DataFrame({
#     "city":["chicago","new york", "orlando"],
#                     "humidity":[65,68,75]
#                     })
# df2

df2 = pd.DataFrame({
    "city":["chicago","new york", "san francisco"],
                    "humidity":[65,68,75]
                    })
df2

            city  humidity
0        chicago        65
1       new york        68
2  san francisco        75

## **Inner Join (Default Merge, how="inner")**

In [20]:
# df3 = pd.merge(df1,df2, on="city")
# df3

df3 = pd.merge(df1, df2, on="city", how="inner")
df3

# Only joins on the similarities between the two dataframes and excludes everything else (think of the center of a venn diagram)
# by default, how is "inner"

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65

## **Outer Join (how="outer")**

In [21]:
df4 = pd.merge(df1, df2, on="city", how="outer")
df4

# includes everything regardless of similarities (a union)

            city  temperature  humidity
0       new york         21.0      68.0
1        chicago         14.0      65.0
2        orlando         35.0       NaN
3      baltimore         32.0       NaN
4  san francisco          NaN      75.0

## **Left Join (how="left")**

In [22]:
df5 = pd.merge(df1, df2, on="city", how="left")
df5

# Everything in the left dataframe, including where the similarities between the two dataframes are, and excludes everything else (san francisco)

        city  temperature  humidity
0   new york           21      68.0
1    chicago           14      65.0
2    orlando           35       NaN
3  baltimore           32       NaN

## **Right Join (how="right")**

In [23]:
df6 = pd.merge(df1, df2, on="city", how="right")
df6

# Everything in the left dataframe, including where the similarities between the two dataframes are, and excludes everything else (orlando, baltimore)

            city  temperature  humidity
0        chicago         14.0        65
1       new york         21.0        68
2  san francisco          NaN        75

## **Indicator Flag**

In [24]:
df7 = pd.merge(df1, df2, on="city", how="outer", indicator=True) #Boolean, NOT a string
df7

#  Let's you know what data came from which dataframe

            city  temperature  humidity      _merge
0       new york         21.0      68.0        both
1        chicago         14.0      65.0        both
2        orlando         35.0       NaN   left_only
3      baltimore         32.0       NaN   left_only
4  san francisco          NaN      75.0  right_only

In [25]:
df1 = pd.DataFrame({
    "city":["new york", "chicago", "orlando", "baltimore"],
    "temperature":[21,14,35,32],
    "humidity": [65,68,71,75]})
df1

        city  temperature  humidity
0   new york           21        65
1    chicago           14        68
2    orlando           35        71
3  baltimore           32        75

In [27]:
df2 = pd.DataFrame({
    "city":["chicago","new york", "san francisco"],
    "temperature": [21,14,35],
    "humidity":[65,68,75]})
df2

            city  temperature  humidity
0        chicago           21        65
1       new york           14        68
2  san francisco           35        75

## **Custom Suffixes for Columns**

In [29]:
df8 = pd.merge(df1, df2, on="city", suffixes=('_left', '_right'))
df8

,city,temperature_left,humidity_left,temperature_right,humidity_right
0,new york,21,65,14,68
1,chicago,14,68,21,65