<a href="https://colab.research.google.com/github/rg326/data_science/blob/main/learning/merging_in_pandas_codebasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Example DataFrames**

In [7]:
import pandas as pd
df1 = pd.DataFrame({"city":["new york", "chicago", "orlando"],
                   "temperature":[21,14,35]})
df1

       city  temperature
0  new york           21
1   chicago           14
2   orlando           35

In [9]:
df2 = pd.DataFrame({
    "city":["chicago","new york", "orlando"],
                    "humidity":[65,68,75]
                    })
df2

       city  humidity
0   chicago        65
1  new york        68
2   orlando        75

## **Inner Join (Default Merge)**

In [10]:
df3 = pd.merge(df1,df2, on="city")
df3

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75